  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald|Raleway" rel="stylesheet">
<meta name="viewport" content="width=device-width">
<script src="https://use.fontawesome.com/dc91d56b6c.js"></script>
<!-- <script src="https://www.google.com/recaptcha/api.js" async defer></script> -->
<style type="text/css">
	*{
		font-family: 'Open Sans', sans-serif;
	}
	.main-header{
		text-align: center;
		padding: 0px 15px;
	    margin-top: 20px;
	    margin-bottom: 20px;
	}
	.top-row{
		/*margin-top: 60px;*/
		  background: #3b796f; /* For browsers that do not support gradients */
		  background: -webkit-linear-gradient(left top, #030a09, #54d2ef); /* For Safari 5.1 to 6.0 */
		  background: -o-linear-gradient(bottom right, #030a09, #54d2ef); /* For Opera 11.1 to 12.0 */
		  background: -moz-linear-gradient(bottom right, #030a09, #54d2ef); /* For Firefox 3.6 to 15 */
	    background: linear-gradient(to bottom right, #030a09, #54d2ef);
	    min-height: 50px;
	    color: white;
	    margin-bottom: 0px;
	}
	.navigation-row{
		margin: 0px;
		padding-left: 30px;
		padding-top: 15px;
	}
	.a-nav{
		color: white;
		margin-right: 15px;
	}
	.body-col p{
	    font-size: 1.3em;
	    /* padding: 5px 15px; */
	    text-align: justify;
	    margin-top: 30px;
	    color: #777;
	}
	.body-col a{
		text-decoration: underline;
		color: black;
		font-weight: bold;
		margin: 0px;
	}
	.call-col{
		/*padding-top: 25px;*/
	}
	.call{
		text-align: center;
	}
	.social{
		display: inline-block;
		margin-right: 30px;
	}
	.navbar-default{
		background-color: white;
		border-color: #ececec;
		padding: 0px 15px;
	}
	.img-fluid{
		height: auto;
		width: 100%;
	}
	.landing-row .col-sm-12{
		padding: 0px;
	}
	.img-overlay{
	    position: absolute;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    text-align: center;
	    margin-top: 10%;
	}
	.img-overlay h1{
	    font-size: 5vw;
	    color: black;
		font-family: 'Oswald', sans-serif;
	}
	.nav li a{
		font-family: 'Raleway', sans-serif;
	}
	.navbar-brand{
		font-family: 'Raleway', sans-serif;
	}
	.landing-row{
		margin-top: 50px;
	}
	.body-headers{
		font-family: 'Oswald', sans-serif;
		margin: 20px 0px 45px;
		text-align: center;
	}
	.body-row{
		margin-top: 15px;
	}
	.copyright{
		float: right;
		margin-top: 5px;
		font-size: 0.8em;
	}
	.fa{
		color: #777;
		/*margin-right: 30px;*/
		font-size: 1.5em;
	}
	.footer-container{
		padding: 15px 30px;
		background-color: #ececec;
	}
	.coming-soon{
		/*text-align: center;*/
		margin: 30px 0px 60px;
	}
	a{
	  -moz-transition: all 0.6s;
      -webkit-transition: all 0.6s;
      transition: all 0.6s;
	}
	a:focus{
		text-decoration: none;
	}
	.fa{
	  -moz-transition: all 0.6s;
      -webkit-transition: all 0.6s;
      transition: all 0.6s;	
	}
	.footer-container .fa:hover{
		color: black;
	}
	.nav li a:hover{
		/*font-weight: bold;*/
		color: black;
	}
	.body-col a:hover{
		color: #ececec;
		text-decoration: none;
	}
	.mobile-show-hide{
		display: none;
	}
@media only screen and (max-width: 768px) {
	.img-overlay{
		margin-top: 0%;
	}
	.body-headers{
		font-size: 3vh;
	}
	.social-row{
		display: none;
	}
	.body-col p{
		text-align: unset;
	}
	#legend li{
		display: none;
	}
	.mobile-show-hide{
		display: block;
	}

}
@media only screen and (max-width : 550px) {
	.img-overlay{
		position: initial;
	    background-image: url(<%= image_path('unionstation2.jpg') %>);
	    background-size: cover;
	    background-repeat: no-repeat;
	    padding: 30px 0px;
	}
	.body-headers{
		font-size: 4vh;
		text-align: center;
	}
	.img-overlay h1{
		font-size: 5vh;
	}
	.navbar-default{
		padding: 0px;
	}
	.footer-container{
		padding-left: 25px;
		padding-right: 25px;
	}
	.coming-soon{
		text-align: center;
	}
	.img-div img{
		display: none;
	}
	#legend{
		font-size: 13.5px;
	}
}

#map{
	min-height: 500px;
	margin: 60px 0px 15px;
}

#legend{
	background-color: white;
	margin-left: 15px;
    padding: 5px 25px;
    max-height: 400px;
    overflow: scroll;
}

#legend li{
	/*font-size: 1.2em;*/
}

#legend li:hover{
	cursor: pointer;
}

.panel-title{
	color: #333;
	font-family: 'Oswald', sans-serif;
	font-size: 4vh;	
}

.panel a:hover{
	color: #ececec;
	text-decoration: none;
}

.panel:hover{
	background-color: #ececec;
}

.panel{
	  -moz-transition: all 0.6s;
      -webkit-transition: all 0.6s;
      transition: all 0.6s;	
}

.participating-row{
	/*margin-bottom: 60px;*/
}

.btn-grey { 
	font-family: 'Oswald', sans-serif;
	margin: 0px auto;
    color: #777777; 
    background-color: #ECECEC; 
    border-color: #777777;
    display: block;
    font-size: 2vh;
    width: 100%; 
} 
 
.btn-grey:hover, 
.btn-grey:focus, 
.btn-grey:active, 
.btn-grey.active, 
.open .dropdown-toggle.btn-grey { 
  color: #777777; 
  background-color: #333333; 
  border-color: #777777; 
} 
 
.btn-grey:active, 
.btn-grey.active, 
.open .dropdown-toggle.btn-grey { 
  background-image: none; 
} 
 
.btn-grey.disabled, 
.btn-grey[disabled], 
fieldset[disabled] .btn-grey, 
.btn-grey.disabled:hover, 
.btn-grey[disabled]:hover, 
fieldset[disabled] .btn-grey:hover, 
.btn-grey.disabled:focus, 
.btn-grey[disabled]:focus, 
fieldset[disabled] .btn-grey:focus, 
.btn-grey.disabled:active, 
.btn-grey[disabled]:active, 
fieldset[disabled] .btn-grey:active, 
.btn-grey.disabled.active, 
.btn-grey[disabled].active, 
fieldset[disabled] .btn-grey.active { 
  background-color: #ECECEC; 
  border-color: #777777; 
} 
 
.btn-grey .badge { 
  color: #ECECEC; 
  background-color: #777777; 
}

.mailing-row{
	margin: 120px 0px;
}

.social{
	max-height: 560px;
	/*overflow: scroll;*/
	margin: 0px;
	margin-bottom: 15px;
}

.body-headers a i:hover{
	color: black;
}

.noScroll{
	overflow: none;
}

.doScroll{
	overflow: scroll;
}

.big-fa{
	margin-bottom: 30px;
}

.social-li a{
	display: inline-block !important;
	padding-right: 0px !important;
}

.social-li a .fa:hover{
	color: black;
}

.maptitle{
	text-align: center;
}

.wherewhen{
	margin-top: 0px;
	font-size: 1.5em;
}

.panel-body{
	padding-top: 5px;
}

.panel-body p{
	font-size: 1.3em;
}

.title-ital{
	font-style: italic;
	font-family: 'Oswald';
	color: #777;
}

.panel-body img{
	/*display: block;*/
	margin: 30px auto;
	max-width: 100%;
	height: auto;
}

.g-recaptcha div{
	margin: 0px auto;
}

.tooltip{
	min-width:200px;
}

.img-overlay h1 {
/*    font-size: 5vw;
    color: white;
    font-family: 'Oswald', sans-serif;*/
    /* box-shadow: 0px 0px 0px black; */
    /*text-shadow: 5px 5px 5px black;*/
}

.artist-info img{
	max-width: 380px !important;
}

</style>
<!-- <div class="row top-row">
	<div class="row navigation-row">
		<a href="/remembrance" class="a-nav">Past Events</a>
		<a href="https://docs.google.com/forms/d/e/1FAIpQLSc3NdbPfSsDrLDmWh9rcaHC69pKy9dF2wltXzOXYnOl2QGqAg/viewform" class="a-nav" target="_blank">Call For Submissions Form</a>
	</div>
	<div class="row header-row">
		<div class="col-sm-2">
		</div>
		<div class="col-sm-8">
			<h2 class="main-header">LA Road Concerts - National and Washington</h2>
		</div>
		<div class="col-sm-2">
		</div>
	</div>
</div> -->
<div class="container-fluid">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Changes: Works at Union Station</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#press">Press Release</a></li>
              <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="A program and map will be available for download by Friday the 24th. Copies will also be available at Union Station at the Information kiosk">Map</a></li>
              <!-- <li><%= link_to "Map", asset_path('') %></li> -->
              <li><a href="#participating">Participating Artists</a></li>
              <li><a href="#mailinglist">Mailing List</a></li>
              <li class="social-li"><a href="https://www.facebook.com/events/315300395870719/" target="_blank"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a><a href="http://instagram.com/explore/tags/changesunionstation" target="_blank"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a><a href="https://twitter.com/search/?q=%23changesunionstation" target="_blank"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></li>
            </ul>
  <!--           <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="./">Default <span class="sr-only">(current)</span></a></li>
              <li><a href="../navbar-static-top/">Static top</a></li>
              <li><a href="../navbar-fixed-top/">Fixed top</a></li>
            </ul> -->
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
     <div class="row landing-row">
     	<div class="col-sm-12 img-div">
	     	<%= image_tag('unionstation2.jpg', :class => 'img-fluid') %>
	     	<div class="img-overlay">
		     	<h1>CHANGES: WORKS AT UNION STATION</h1>
		     	<h1 id="press">08.26.2018</h1>
		     </div>
	     </div>
     </div>
	<div class="row body-row">
		<div class="col-sm-2">
		</div>
		<div class="col-sm-8 call-col body-col">
<!-- 			<h3>20 site-specific performances and interactive works from Los Angeles artists in and around Union Station.</h3>
			<h3>www.changesunionstation.info</h3> -->
			<h1 class="body-headers">PRESS RELEASE</h1>
				<p>CHANGES: Works at UNION STATION</p>
				<p>SUNDAY, AUG 26, 2018: 1-6 PM</p>

				<p>Works by:</p>
				<p>Zeina Baltagi - Jessica Ceballos y Campbell - Artemisa Clark - Akina Cox - Edgar Fabián Frías - Jonathan Gómez - Vikramadithya Ikshvivek - Alexia Lewis - Todd Moellenberg - Thinh Nguyen - Albert Ortega - Paul Outlaw - Paul Pescador - Faith Purvey - Elliot Reed - Michael Rippens - Sepand Shahab - Christopher Velasco - Christopher Wawrinofsky</p>

				<p>Changes presents an afternoon of 20 site-specific performances and interactive works from Los Angeles artists in and around Union Station. The projects, which take advantage of the many unique spaces at Union Station, will ask the public to consider the station as a metaphor for all kinds of changes both personally and societally.</p>

				<p>Union Station is that rare place in LA that feels like a public space, and yet it's often not a destination so much as a space for switching trains/buses, and it's frequently experienced in solitude. Changes hopes to give transit riders and station visitors an opportunity to get personal, connect with others, and reflect on their own lives, on the city and its people, in the type of space that can sometimes feel disconnected, impersonal and stressful.</p>

				<p>Metro Art Presents showcases an exciting array of arts and cultural programs at historic Union Station. All events are free and open to the public. More information: <a href="http://metro.net/art">metro.net/art</a> or <a href="http://unionstationla.com">unionstationla.com</a>. Union Station is accessible via Metro Rail, Metro Bus and several municipal bus lines. Use the Trip Planner for routes and connections. Car and bicycle parking are also available on site.</p>

				<p>Curated by Stephen van Dyck</p>

				<p>FREE</p>
							<hr/>
</div>
		</div>
		<div class="col-sm-2">
		</div>
	</div>
	<div class="row body-row participating-row" id="participating">
		<div class="col-sm-2">
		</div>
		<div class="col-sm-8">
			<h1 class="body-headers">PARTICIPATING ARTISTS</h1>
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			<% count = 0 %>
			<% if @artists %>
				<% @artists.each do |val| %>
					<% if val.name_id == 'reception' || val.multi_location == true %>
					<% else %>
					  <div class="panel panel-default" id="scroll<%= val.name_id %>">
					    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= count %>" aria-expanded="false" aria-controls="collapseOne">
						    <div class="panel-heading" role="tab" id="headingOne">
						      <h4 class="panel-title"><%= val.name %> <span class="title-ital">- <%= val.title %></span></h4>
						    </div>
						</a>
					    <div id="collapse<%= count %>" class="scroll<%= val.name_id %> panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
					      <div class="panel-body artist-info">
					      	<h5 class="wherewhen"><%= val.where %> - <%= val.when %></h5>
					      	<% if val.avatar.file? %>
						      	<%= image_tag val.avatar.url(:large), :class => "img-fluid" %>
					      	<% end %>
					        <%= simple_format(val.copy) %>
					        <%= simple_format(val.bio) %>
					      </div>
					    </div>
					  </div>
					  <% end %>
					<% count += 1 %>
				  <% end %>
			  <% end %>
			</div>
		</div>
		<div class="col-sm-2">
		</div>
	</div>
	<div class="row body-row mailing-row"  id="mailinglist">
		<div class="col-sm-4">
		</div>
		<div class="col-sm-4">
			<h1 class="body-headers">MAILING LIST</h1>
			<% if flash[:thanks] %>
				<h3 class="body-headers" id="thanks">THANK YOU FOR SUBSCRIBING!</h3>
				<h4 class="body-headers">WE WILL EMAIL YOU (BUT NOT SPAM YOU) UPDATES ABOUT THE EVENT!</h4>
			<% else %>
            <form action='/mail' method='post' data-remote="false" id='mailerform'>
            <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
              <div class="form-group">
			    <input type="text" name="first" class="form-control" id="first_name" placeholder="First Name" required>
			  </div>
              <div class="form-group">
			    <input type="text" name="last" class="form-control" id="last_name" placeholder="Last Name" required>
			  </div>
			  <div class="form-group">
			    <input type="text" name="email" class="form-control" id="email" placeholder="Email" required>
			  </div>
			  <div class="form-group">
  <%#= recaptcha_tags %>
			  </div>
              <button class="btn btn-grey" type="submit" name="action">JOIN</button>
            </form>
            <% end %>
		</div>
		<div class="col-sm-4">
		</div>
	</div>

	</div>
</div>
    <footer class="footer">
      <div class="container-fluid footer-container">
        <p class="text-muted"><span class="copyright">&copy; 2018 Changes: Works at Union Station</span></p>
      </div>
    </footer>
<script type="text/javascript">

		$(document).ready(function() {
		    $("body").tooltip({ selector: '[data-toggle=tooltip]' });
		});
//       function initMap() {
//     // Create a map object and specify the DOM element for display.
//     var map = new google.maps.Map(document.getElementById('map'), {
//       center: {lat: parseFloat('34.028689'), lng: parseFloat('-118.385719')},
//       zoom: 17
//     });
//     var infowindow = new google.maps.InfoWindow();
//     // positions
//     <% @artists.each do |val| %>
//     	<% if val.lat != "" && val.long != "" %>
// 	    	var pos<%= val.id %> = {lat: <%= val.lat %>, lng: <%= val.long %>};
// 		    var contentString<%= val.id %> = '<div class="content">'+
// 		        '<div id="siteNotice">'+
// 		        '</div>'+
// 		        <% if val.multi_location == true %>
// 		        "<h5 class='maptitle'><a class='bodyScroll' href='#scroll<%= val.name_id.chop %>'><%= val.title %></a></h5 class='maptitle'>" +
// 		        <% else %>
// 		        "<h5 class='maptitle'><a class='bodyScroll' href='#scroll<%= val.name_id %>'><%= val.title %></a></h5 class='maptitle'>" +
// 		        <% end %>
// 		        '<div class="mapBodyContent">'+
// 		        '<h6><%= val.name %></h6>'+
// 		        "<p><%= val.where %></p>" + 
// 		        "<p><%= val.when %></p>" +
// 		        '</div>'+
// 		        '</div>';
// 		    var marker<%= val.id %> = new google.maps.Marker({
// 		      position: pos<%= val.id %>,
// 		      map: map,
// 		      title: '<%= val.title %>',
// 		      icon: "<%= escape_javascript asset_path('location_icon.png') %>"
// 		    });
// 		    marker<%= val.id %>.addListener('click', function(){
// 			    infowindow.close();
// 			    infowindow.setContent(contentString<%= val.id %>);
// 			    infowindow.open(map, marker<%= val.id %>);
// 		    });
// 		    $('#<%= val.name_id %>').click(function(){
// 		    infowindow.close();
// 		    infowindow.setContent(contentString<%= val.id %>);
// 		    infowindow.open(map, marker<%= val.id %>);
// 				if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
// 				    $('.mobile-show-hide').click();
// 				}
// 		    });
// 		    marker<%= val.id %>.addListener('click', function(){
// 			    infowindow.close();
// 			    infowindow.setContent(contentString<%= val.id %>);
// 			    infowindow.open(map, marker<%= val.id %>);
// 		    });
// 		<% end %>
// 	<% end %>
//     // var khost = {lat: 34.051836, lng: -118.245442};
//     //     // NEW STUFF
//     // var contentStringKhost = '<div id="content">'+
//     //     '<div id="siteNotice">'+
//     //     '</div>'+
//     //     '<h6>Alex Khost & Amy Bauer</h6>'+
//     //     '<div class="mapBodyContent">'+
//     //     "<p>In Memoriam: A Funeral Procession for the Death of Love</p>" +
//     //     "<p>Spring / 1st to 4th - 11:30 PM</p>" +
//     //     '</div>'+
//     //     '</div>';
//     // var markerKhost = new google.maps.Marker({
//     //   position: khost,
//     //   map: map,
//     //   title: 'In Memoriam: A Funeral Procession for the Death of Love',
//     //   icon: "<%= escape_javascript asset_path('location_icon.png') %>"
//     // });
//     // $('#khost').click(function(){
//     // infowindow.close();
//     // infowindow.setContent(contentStringKhost);
//     // infowindow.open(map, markerKhost);
//     // });
//     // markerKhost.addListener('click', function(){
// 	   //  infowindow.close();
// 	   //  infowindow.setContent(contentStringKhost);
// 	   //  infowindow.open(map, markerKhost);
//     // });
//     map.controls[google.maps.ControlPosition.LEFT_TOP].push(document.getElementById('legend'));

// 	// google.maps.event.addListenerOnce(map, 'tilesloaded', mapScroll);

//  //  	function mapScroll(){
//  //  		console.log('fired');
//  		$(document).on('click', '.bodyScroll', function(){
// 		    var href = $(this).attr('href');
// 		    var anchor = $(href);
// 		    sbstr = href.substring(1);
// 		    $('.' + sbstr).collapse('show');
// 			$('html, body').animate({
// 			    scrollTop: anchor.offset().top-100
// 			}, 1500);
// 		});
//  //  	}
// }


	$('ul.nav').find('a').click(function(){
		if($(this).attr('href') == "#"){

		}
		else{
		    var href = $(this).attr('href');
		    var anchor = $(href);
		    console.log(anchor);
			$('html, body').animate({
			    scrollTop: anchor.offset().top-100
			}, 1500);
		    $('.btn-navbar').click(); //bootstrap 2.x
		    $('.navbar-toggle').click() //bootstrap 3.x by Richard
		    // return false;
		}
		console.log($(this));
	});



	window.onscroll = function(ev) {
	    if ((window.innerHeight + window.pageYOffset) >= document.body.offsetHeight) {
	        $('.social').removeClass('noscroll');
	        $('.social').addClass('doScroll');
	    }
	};
<% if flash[:thanks] %>
		$('html, body').animate({
		    scrollTop: $('#thanks').offset().top-100
		}, 500);
<% end %>

var show = true;

// $('.mobile-show-hide').click(function(){
// 	if(show == true){
// 		$(this).text('Hide Map Legend');
// 		$('#legend li').show();
// 		show = false;
// 	}
// 	else{
// 		$(this).text('Show Map Legend');
// 		$('#legend li').hide();
// 		show = true;
// 	}

// })

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-n3Bj4NngwQhrVi_vTrFVwNSEMHP8UAw&callback=initMap" async defer></script>

