<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
<head>
  <title>Changes: Works at Union Station</title>
<meta property="og:image" content="http://changesunionstation.info/<%= image_path('FB_Changes.png') %>" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="description" content="Changes presents an afternoon of 20 site-specific performances and interactive works from Los Angeles artists in and around Union Station. The projects, which take advantage of the many unique spaces at Union Station, will ask the public to consider the station as a metaphor for all kinds of changes both personally and societally.">
<meta name="keywords" content="Changes, Union, Station, Metro, public, transit, transportation, Chinatown, Downtown, Boyle, Heights, Highland, Park, Red Line, Subway, Los Angeles, Southern, California, Riots, Zoot Suit, Watts, Hollywood, Train, Rail, Walk, Meditation, Site-specific, Performance, Interactive, Work, Artist, Project, Space, Metaphor. Social, Change, Justice, Art, Reading, Academic, Historic, Sound, Music, Tour, Event, Race, Racism, Policy, Immigration, Interactive, Stage, Gallery, Workshop, Sexual, Creator, Solo, Group, Highways, Machine, Project, Human, Resources, Lace, Redcat, Traxx, Bar, Calarts, California, Institute, Occidental, College, Otis, Center, Design, Zeina, Baltagi, Jessica, Ceballos, Campbell, Artemisa, Clark, Akina, Cox, Edgar, Fabián, Frías, Jonathan Gómez, Vikramadithya, Ikshvivek, Alexia, Lewis, Todd, Moellenberg, Thinh, Nguyen, Albert, Ortega, Paul Outlaw, Pescador, Faith, Purvey, Elliot, Reed, Michael, Rippens, Sepand, Shahab, Christopher, Velasco, Chris, Wawrinofsky, metaphor, personal, rider, people, visitors, buses, literary, perform, socal, Stephen, van Dyck, audio, visual, practice">
</head>
   </head>
   <body>
     <%= yield %>
   </body>
</html>